html {
  scroll-behavior: smooth;
}

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

/* Reset e configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Corpo */
body {
  background-color: var(--bg);
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

/* Navbar */
.navbar {
  height: 70px;
  width: 100%;
  background-color: var(--cor-nav);
  color: white;
  padding: 1rem 0;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.navbar-nav a {
  text-decoration: none;
  color: var(--text);
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover {
  background: var(--primary);
  color: white;
  transform: scale(1.05);
}

.navitem {
  color: var(--cor-texto);
  font-size: 1.125rem;
  cursor: pointer;
  transition: color 0.3s;
}

.textt {
  color: var(--gray3);
}

.header {
  padding: 1em;
  background: var(--bg-nav);
  margin-bottom: 1em;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  width: 100%;
  max-height: 50vh;
}

.favheader {
  background: var(--bg-nav);
  width: 100%;
  text-align: center;
}

.favorito {
  background: transparent;
  border: 2px solid var(--bg-nav);
  font-size: 0.875rem;
  color: rgb(184, 184, 82);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.remover-favorito {
  height: 100%;
}

.remover-favorito, .favorito.ativo {
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--bg-nav);
  background: var(--primary);
  color: rgb(247, 70, 70);
}

.logo {
  max-width: 30vh;
  height: auto;
  border-radius: 80%;
}

.navbar {
  height: 70px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.dropdown {
  list-style: none;
  position: absolute;
  width: 40%;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: 2px solid var(--border-color);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  margin-top: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  transform: translateX(-40%);
  transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown   {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  padding-left: 10px;
  font-weight: bold;
  list-style: none;
}

.dropdown-item a::before {
  content: ' ';
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* Main e Container */
main {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 2rem auto;
  padding: 1.25rem;
  background-color: var(--bg);
  border-radius: 0.5rem;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.container::after ,.card::before{
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),transparent 80%, blue);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 4px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from{
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Título */
h1 {
  margin-bottom: 1.25rem;
  font-size: 2rem;
  color: var(--text)
}

/* Search Box */
.search-box {
  gap: 0.625rem;
  margin-bottom: 1.5rem;
}

.inputted {
  padding: 0.625rem;
  width: 60%;
  max-width: 30rem;
  border: 0.125rem solid var(--cor-vermelho);
  border-radius: 1000px;
  background-color: #F5F3F4;
  color: #000;
  transition: border-color 0.3s;
  font-size: 1rem;
}

.inputted:focus {
  border-color: var(--cor-hovers);
  outline: none;
  caret-color: var(--cor-hovers);
}

.btn {
  padding: 0.625rem 1.25rem;
  color: #fa48a1;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 1000px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  background-color: #be6262;
  transition: translate 0.3s ease-in-out;
  transform: scale(1.1)
}

/* Loading Indicator */
.loading-indicator {
  display: none;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

.loading-indicator.active {
  display: block;
}

/* Grid de Resultados */
.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding-top: 1.5rem;
}

/* Cartão do Anime */
.anime-card {
  background-color: #2a2a2a;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: visible; 
}

.anime-card:hover {
  transform: scale(1.1)
}

/* Imagem de Capa */
.anime-cover {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Informações do Anime */
.anime-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.anime-info2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Título do Anime */
.anime-title {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-bottom: 0.5rem;
  color: white;
}


.meta {
  font-size: 0.875rem;
  color: #888;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.details {
  width: 100%;
  background-color: var(--cor-nav);
  border-radius: 0.3125rem;
  margin-top: auto;
  position: relative; 
}

.details summary {
  font-weight: bolder;
  color: var(--text);
  cursor: pointer;
  background: var(--bg-nav);
  padding: 0.75rem 1rem;
  border-radius: 0.3125rem;
  transition: background-color 0.3s ease;
  text-align: center;
  list-style: none;
}

.details summary:hover {
  background-color: var(--cor-hovers);
  
}

.details[open] summary {
  background-color: var(--cor-hovers);
}


.details-content {
  position: absolute;
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 0 0 0.3125rem 0.3125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  max-height: 10rem;
  overflow-y: auto;
  font-size: 0.875rem;
  z-index: 10;
  scroll-behavior: smooth;
}

.details[open] .details-content {
  display: block;
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--bg-dropdown);
  width: 100%;
  text-align: center;
  color: var(--gray3);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* Responsividade */
@media (max-width: 52rem) {
  .inputted {
    width: 80%;
  }
  
  .results-container {
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
    gap: 1rem;
  }
  
  .anime-title {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
  }
  
  .meta {
    font-size: 0.75rem;
  }
  
  .details summary,
  .details-content {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}
